@model IEnumerable<MtsCloneAPI.Context.Product>
@{ 
    Layout = "~/Views/Shared/_Main.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css"/>
</head>
<body>
    <div id="top-line"></div>
    
    <div id="header">
        <a href="#" id="logo"></a>

        <div id="call">
            Звоните +375291305607
        </div>

        <div id="top-menu">
            <a href="#">Главная</a>
            <div class="top-menu-line"></div>
            <a href="#">Доствка</a>
            <div class="top-menu-line"></div>
            <a href="#">Новости</a>
            <div class="top-menu-line"></div>
            <a href="#">Отзывы</a>
            <div class="top-menu-line"></div>
            <a href="#">Корзина</a>            
        </div>

        <div id="search">
            <div id="search-form">
                <input type="text" id="search-text" name="" placeholder="Поиск" value=""/>     
                <button id="search-button"></button>           
                @*<button id="search-button"></button>*@
            </div>
        </div>

        <a href="#" id="сart-button">Пусто</a>

    </div>
    <div id="content">  
        <div id="left-block">

            <div class="cat-title">Телефоны</div>
            <div class="brands">
                <a href="#">&raquo;&raquo; Samsung</a>
                <a href="#">&raquo;&raquo; Apple</a>
                <a href="#">&raquo;&raquo; Lenovo</a>
                <a href="#">&raquo;&raquo; Nokia</a>
            </div>
            <div class="cat-title">Планшеты</div>
            <div class="brands">
                <a href="#">&raquo;&raquo; Samsung</a>
                <a href="#">&raquo;&raquo; Apple</a>
                <a href="#">&raquo;&raquo; Lenovo</a>
                <a href="#">&raquo;&raquo; Nokia</a>
            </div>

            <div class="share-title">Скидка 40%</div>
            <a href="" class="product-title">Lenovo p780</a>
            <a href="#"><img class="productImage" src="~/Content/images/lenovo p780.jpg"/></a>
        </div>       
               
        <div id="right-block"> 

            @* динамическая разметка js*@

            <div class="clear"></div> 

            <div id="navigation">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">&raquo;</a>
            </div>          
        </div> 

               
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/IndexScripts/productHandler.js"></script>
</body>
</html>