
<h3>Корзина покупателя:</h3>
<button onclick="alertF()">XYU ALERT</button>

<table>
    <thead>
        <tr>
            <th>Название продукта</th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody id="cart-table-body">
        <!--*Динамический контент-->
    </tbody>
</table>
