body{
    background:#e6e4e4;
    font-family: Tahoma;
    font-size: 14px;
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
}
#top-line{
    background: #323030;
    height:5px;
}
#header{
    width:940px;
    height:95px;
    margin:0 auto;
    border: 1px #7E7B7B solid;
    border-radius:5px;
}
#logo{
    background: url(images/shopLogo.png) no-repeat;
    background-size: 100% 100%;
    
    width:263px;
    height: 95px;
    display:block;
    float:left;
}
#call {
    font-size: 30px;
    color: #7E7B7B;
    float: left;
    font-family: Arial;
    width: 265px;
    height: 85px;
    text-align: center;
    padding-top: 10px;
   
}
    
    
#top-menu{
    width:412px;    
    height:33px;
    display:table-cell;
    vertical-align:middle;
    background: #323030;
    background: linear-gradient(-90deg, #323030 10%, #534f4f 80%);
    border-radius: 0 0 3px 3px;
    box-sizing:border-box;
    padding:0 20px;
}
#top-menu a{
    color:white;
    margin:0 6px;
}
#top-menu a:hover{
    text-decoration:underline;
}
.top-menu-line{
    display:inline-block;
    width:1px;
    height:16px;
    background:#5c5757;
    margin-bottom:-3px;
}
/*SEARCH!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
#search{
    width:245px;
    height: 38px;
    float:left;
    background: white;
    border: 2px solid #b4b2b2;    
    border-radius:5px;
    margin-top:10px;
    box-sizing:border-box;
}
#search-form input[type=text]{
    width:205px;
    float:left;
    height:23px;
    margin:5px 0 0 0;
    padding-left:5px;
    color:#010101;
    border: none;
}
#search-button{
    width:30px;
    height:23px;   
    color:#010101;
    background: url(images/search.png) center left no-repeat;
    background-size:contain;
    margin-top:6px;
    border:none;    
}
#search-button:hover{
    cursor:pointer;    
}
.search-title{
    padding:0 0 0 15px;
    font-size:20px;
    margin-bottom:15px;
    color:#ffffff;
    display:block;
    text-align:left;  
    float:left;  
    font-weight:bold;
    background: #323030;
    width:400px;
    border-radius:10px;
}
/*CART!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
#сart-button{
    background:url(images/toCart.png) center left no-repeat;
    background-size:100% 100%;
    display:block;
    width: 155px;
    height:33px;
    float:left;
    margin-top:10px;
    margin-left:11px;
    padding-top:5px;
    text-align:center;
    font-size: 18px;    
    color: #ffffff;
}


/*CONTENT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
#content{  
    padding:21px 0;
    margin-top:3px;     
    background: #ffffff;
    width:940px;
    margin-left:auto;
    margin-right:auto;
    display:table;
    box-shadow: 0px 5px 15px #423f3f;
    
}
/*LEFT-BLOCK!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
#left-block{       
    margin:0;
    display:block;
    float:left;
    width:200px;
    height:500px;
    background:#ffffff;
}
.cat-title, .share-title{
    width:200px;
    height:36px;
    background: url(images/catBg.png) repeat-y;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    font-size:18px;
    font-weight:bold;
    color: #333131;
}
.brands{
    width:200px;
    margin-top:5px;
    padding-left:16px;
    box-sizing:border-box;
    
}
.brands a{
    display:block;
    margin:10px 0;
    color: #000000;
    transition: all 0.2s linear;
    
}
.brands a:hover{
    padding-left: 10px;
}

.share-title{
    color:#be2e27;
    text-transform:uppercase;
}


/*RIGHT_BLOCK!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
#right-block{    
    padding-left:60px; 
    margin:0;
    display:table;  
    width:680px;
    float:left;
    background:#ffffff;
}

.product-title{
    color: #0f6a84;
    text-align:center;
    width:200px;
    display:block; 
    margin:7px 0;   
}
.product-title:hover{
    text-decoration: underline;
}
.product .product-title{
    margin-top:0px;
}

.productImage{
    max-height:200px;
    max-width:200px;
}
.product{
    width:200px;
    height:320px;
    float:left;
    margin: 0 25px 60px 0;
}
.product-price{
    color: #b53232;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    margin:5px 0 8px 0;
}
.to-cart{
    width:152px;
    height:38px;
    background:#8db24c;
    display:block;
    vertical-align:middle;
    border-radius:5px;
    text-align:center;
    color:#ffffff;
    font-size:18px;
    margin:0 auto;
    padding-top:5px;
    box-sizing:border-box;
    box-shadow: 2px 2px 10px #969696;
}
.to-cart:hover{
    color:#fcff00;
}

/*NAVIGATION!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.clear{
    clear:both;
}
#navigation{
    margin:0 auto;
    display:table;
}
#navigation a{
    background: #c4c4c4;
    width:27px;
    height:27px;
    display:block;
    float:left;
    text-align:center;
    color: #323030;
    margin:0 2px;
    padding-top:5px;
    font-weight:bold;
    box-sizing:border-box;
}

#navigation a:hover{
    color:#b53232;
}